/* Reset de estilos para quitar los márgenes predeterminados */
html,
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    /* Gris claro */
    color: #333;
    /* Gris oscuro */
    font-size: 16px;
}

.h2-contacto {
    color: #3498db;
    text-align: center;
}

.upper-section {
    background-color: #afd3ec;
}

/* Estilo para el encabezado h1 */
h1 {
    text-align: center;
    background-color: #3498db;
    /* Azul claro */
    color: #fff;
    padding: 20px;
    margin: 0;
}

#filter-section {

    float: right;
    margin: 20px;
    margin-top: 15px;
}

#task-type {
    width: 10%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el contenedor principal */
#task-container {
    text-align: center;
    margin: 20px;
}

/* Estilo para el input de la tarea */
#task-input {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

/* Estilo para el botón de añadir tarea */
#add-task,
.corner-button {
    padding: 10px 20px;
    background-color: #3498db;
    /* Azul claro */
    color: #fff;
    border: 2px solid #3498db;
    /* Mismo azul claro */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

/* Efecto hover para los botones */
#add-task:hover,
.corner-button:hover {
    background-color: #1e5ea7;
    /* Azul un poco más oscuro */
    border-color: #1e5ea7;
}

/* Estilo para la lista de tareas */
#task-list {
    list-style: none;
    padding: 0;
}

/* Estilo para los elementos de la lista de tareas */
.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilo para las fechas de las tareas */
.task-datetime {
    margin-left: 0%;
    font-size: 16px;
    display: table-cell;
    padding: 8px;
    text-align: center;
    /* Alineación horizontal del contenido (izquierda, centro, derecha) */
    vertical-align: middle;
    /* Alineación vertical del contenido (arriba, centro, abajo) */
    /* Color de fondo de la celda */
    font-weight: bold;
    /* Peso de la fuente del contenido */
}

/* Estilo para los botones de eliminar tarea */
.delete-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

/* Efecto hover para los botones de eliminar tarea */
.delete-button:hover {
    background-color: #111;
}

/* Estilo para los botones de completar tarea */
.complete-button {
    background-color: #3498db;
    /* Azul claro */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

/* Efecto hover para los botones de completar tarea */
.complete-button:hover {
    background-color: #1e5ea7;
    /* Azul un poco más oscuro */
}

/* Estilo para las tareas completadas */
.task-completed {
    text-decoration: line-through;
}

/* Estilo para los botones en la esquina */
.corner-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #2677ae;
    /* Azul claro */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 16px;
    border-color: #000000;
}

.task-urgent {
    background-color: #d7aa22;
    /* Rojo anaranjado para alta urgencia */
    color: #fff;
}

.task-urgent:hover {
    background-color: #b9931f;
}

.task-hoy {
    background-color: red;
    color: white;
}

.task-hoy:hover {
    background-color: rgb(194, 1, 1);
}

.task-less-urgent {
    background-color: #0a8cd2;
    /* Naranja para urgencia media */
    color: #fff;
}

.task-less-urgent:hover {
    background-color: #086da3;
}

.task-past {
    background-color: #27c127;
    /* Verde para tareas que han pasado */
    color: #fff;
}

.task-past:hover {
    background-color: #209920;
}

.task-soon {
    background-color: #b80e99;
    /* Amarillo oscuro para tareas próximas */
    color: #fff;
}

.task-soon:hover {
    background-color: #8c0a74;
}

.task-normal {
    color: #000000;
    background-color: #ccc;
}

.task-normal:hover {
    background-color: #9f9f9f;
}

/* Agregamos algunos estilos a las formas de contacto */
.contact-section {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    z-index: 999;
    /* Ajusta el valor de z-index según tus necesidades para controlar la superposición */
}


.contact-link {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #3498db;
    /* Azul claro */
}

.contact-link i {
    font-size: 24px;
    margin-right: 5px;
}

.contact-link:hover {
    color: #1e5ea7;
    /* Azul un poco más oscuro al hacer hover */
}

.no-tasks-message {
    text-align: center;
    font-size: 40px;
    /* Tamaño de fuente más grande */
    color: #3498db;
    /* Color azul */
    margin-bottom: 100px;
    /* Margen inferior para separarlo del contenido debajo */
    margin-top: 100px;
}

#terminar-examen {
    margin: 20px;
    color: #3498db;
    text-align: center;
}

#terminar-practica {
    margin: 20px;
    color: #3498db;
    text-align: center;
}

.pr-enviada {
    margin: 20px;
    color: #3498db;
    text-align: center;
}

#task-subject {
    width: 10%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-text {
    display: table-cell;
    padding: 8px;
    text-align: center;
    /* Alineación horizontal del contenido (izquierda, centro, derecha) */
    vertical-align: middle;
    /* Alineación vertical del contenido (arriba, centro, abajo) */
    /* Color de fondo de la celda */
    font-weight: bold;
    /* Peso de la fuente del contenido */
}

.task-subject {
    display: table-cell;
    padding: 8px;
    text-align: center;
    /* Alineación horizontal del contenido (izquierda, centro, derecha) */
    vertical-align: middle;
    /* Alineación vertical del contenido (arriba, centro, abajo) */
    /* Color de fondo de la celda */
    font-weight: bold;
    /* Peso de la fuente del contenido */
}

.task-type {
    display: table-cell;
    padding: 8px;
    text-align: center;
    /* Alineación horizontal del contenido (izquierda, centro, derecha) */
    vertical-align: middle;
    /* Alineación vertical del contenido (arriba, centro, abajo) */
    /* Color de fondo de la celda */
    font-weight: bold;
    /* Peso de la fuente del contenido */
}

.task-remaining {
    display: table-cell;
    padding: 8px;
    text-align: center;
    /* Alineación horizontal del contenido (izquierda, centro, derecha) */
    vertical-align: middle;
    /* Alineación vertical del contenido (arriba, centro, abajo) */
    /* Color de fondo de la celda */
    font-weight: bold;
    /* Peso de la fuente del contenido */
}

